# follow up  template after that write the code

## 1. Let's Now Import library of pandas and numpy

In [1]:
import pandas as pd
import numpy as np

## 2. Load The Data into a Pandas Frame , hint  use **pd.read_csv**

In [2]:
df=pd.read_csv('kc_house_data.csv')
df.head(2)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639

## 3. define x is the features of dataframe and y is label , hint use **df.iloc**

In [3]:
X  = df.drop(df.iloc[:, 2:3],axis = 1)
y = df.iloc[:, 2:3]

In [4]:
X.head(2)

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639

In [5]:
y.head(2)

      price
0  221900.0
1  538000.0

### 4.Drop (id,date) column from x(independent variables ),  hint use **drop()** function

In [6]:
X.drop(["id","date"],axis=1,inplace=True)
X.head(2)

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639

## 5. Splitting the dataset into the Training set and Test set and put **random_state=2**

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.30, random_state=2)

In [8]:
print("x_train shape is:", X_train.shape)
print("x_test shape is:", X_test.shape)
print("y_train shape is:", y_train.shape)
print("y_test shape is:", y_test.shape)

x_train shape is: (15129, 18)
x_test shape is: (6484, 18)
y_train shape is: (15129, 1)
y_test shape is: (6484, 1)

## 6. Fitting Linear Regression to the dataset and count regression.score

In [9]:
from sklearn.linear_model import LinearRegression
LNG = LinearRegression()
LNG.fit(X_train, y_train)

y_pred = LNG.predict(X_test)

In [10]:
from sklearn import metrics
metrics.r2_score(y_test, y_pred )

0.7069046794131957